# Web3Forms Access Key
# Go to https://web3forms.com/, enter your email (maitri2k6@gmail.com), and get your free Access Key.
# It is completely safe to put this key in the frontend environment variables.
VITE_WEB3FORMS_ACCESS_KEY="1a59d4c8-cf22-4f3f-8bba-6b7589d26163"


